body {
  margin: 0px;
  font-family: 'Inconsolada', monospace;
  background: lavenderblush;
  font-weight: bold;
}

.container {
  position: absolute;
  top: 0px;
  left: 50px;

  /* transform: translate(-50%, -50%); */
}

.header {
  color: black;
  font-family: 'Inconsolada', monospace;
  text-align: left;
}

ul {
  margin: 0px;
}

table{
  text-align: center;
}
ul li {
  list-style-type: decimal-leading-zero;
}

a, a:visited {
  color: black;
  /* text-decoration: none; */
}

a:hover {
  text-decoration: none;
}